<div class="col-sm-3">
  <div class="row">
    <%= link_to flashcard_path(flashcard) do %>
      <div class="mini-card col-sm-10 col-sm-offset-1">
        <%= flashcard.id %>
      </div>
    <% end %>
  </div>
</div>
