<main class="container card-set-new">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Create a new card set</h1>

      <% if current_user %>
        <div class="col-sm-8">
          <%= form_for(@card_set) do |f| %>
            <%= render "card_set_form", f: f %>
          <%= f.submit "Create Card Set", class: "form-control btn btn-flash mt-10" %>
          <% end %>
        </div>
      <% else %>
        <h2>You have log in or register to create a new card set!</h2>

        <%= render '/application/devise_forms' %>
      <% end %>
    </div>
  </div>
</main>