.flashcard-new {
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  textarea {
    display: block;
    width: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    min-height: 180px;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: normal;
  }
  
  textarea:focus {
    outline: 1px solid #3e94ff;
  }
  
  input {
    font-weight: normal;
  }
  
  input:focus {
    outline: 1px solid #3e94ff;
  }
}