.flashcard-show {
  .flashcard {
    min-height: 500px;
    
    h1 {
      font-size: 3em;
    }
  }
  
  .flashcard-nav {
    min-height: 500px;
    line-height: 500px;
    font-size: 170px;
  }
  
  .tags {
    text-align: center;
    margin: 5px 5px;
    
    h2 {
      display: inline;
      font-size: 1em;
    }
  }
}